*{
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    background-color: rgb(19, 19, 19);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
}
main{
    width: 100%;
}
section{
    padding: 1rem;
}

nav{
    padding: 0 1.5rem;   
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    li{
       list-style: none;
       margin-right: 0.9em;
       padding: 3px;
       transition: pink 1.5s ease-in-out;
       font-size: 1.5em;
    }
    li a{
        text-decoration: none;
        color: white;
    }
    li a:hover{
        color: black;
    }
    hr{
        background-color: rgb(255, 255, 255);
        height: 1px;
        border: none;
    }
    .line{
        height: 0.5px;
       }
       nav li{
        transition: background-color 0.3s ease;
       }
    nav li:hover{
        background-color: rgb(255, 255, 255);
    }
    a:hover{
        color: black;
    }
       li:hover{
        padding: 3px 8px;
        border-radius: 10px;
        height: fit-content;
        width: fit-content;
        text-align: center;
        background-color: rgb(255, 255, 255);
        color: black;
        cursor: pointer;
       }
       li:nth-of-type(4):hover{
        height: fit-content;
        width: fit-content;
       }
       li:active{
        border-radius: 10px;
        height: fit-content;
        width: 70px;
        text-align: center;
        background-color: rgb(255, 255, 255);
        color: black;
       }
       #star{
        position: absolute;
        z-index: 1;
        transform: rotate(40deg);
    }
 .angel img{
            width: 29em;
            filter: grayscale(92%);
            z-index: 0;
        }
        .angel img:hover{
            filter: grayscale(40%);
        }
 #welcome-section{
            height:fit-content;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1.5fr auto;
            grid-template-rows: auto;
            gap: 0.4em;
 }
.image-section{
           grid-column: 1;
         }
         .welcome{
            grid-column: 2;
         }
         .me{
            grid-column: 3;
         }
         .name-container{
            display: inline-block;
 }
 .name{
    margin-top: 2em;
    padding: 0;
}
.typewriter h1{
    margin-top: -21px;
}
#welcome-section h1{
    font-size: 3.5em;
}
.description{
    margin-top: -15px;
}
.description p{
    font-size: 1.3em;
    width: 90%;
}
.description p a{
    color: white;
 }
 .description p a:hover{
    color: aqua;
 }

           .typewriter h1{
            overflow: hidden;
            white-space: nowrap;
            animation: typing 3s steps(18), cursor 0.75s step-end infinite alternate;
           }
  @keyframes typing{
            from{
                width:0;
            }
            to{
                width: 100%;
            }
           }
 @keyframes cursor {
                from, to{
                    border-right:2px solid transparent;
                }
                50%{
                    border-right: 2px solid rgb(255, 255, 255);
                }
            }
            .me{
                border-left: 1.5px solid rgb(255, 255, 255);
                height: 10em;
                width: 15%;
                margin-top: 19em;
                margin-right: 5em;
            }
            .me p{
                padding: 2em;
            }
            #skills{
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 3fr;
                height: fit-content;
            }
           
            .what-i-do{
                grid-column: 1;
                margin-top: 2em;
                border-right: 1.5px solid rgb(207, 207, 207);
                padding-left: 2em;
                height: 70%;
            }
            #arrow{
                transform: rotate(310deg);
                margin-right: 0.2em;
                position: relative;
                top: 1em;
                width: 1.6em;
            }
            .skills{
                grid-column: 2;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: auto;
                gap: 2em;
                height: max-content;
                margin-top: 2em;
                font-size: 1.1em;
            }
            .skills div{
                padding-left: 2em;
            }
            .skills div:nth-of-type(2) , .skills div:nth-of-type(4){
                border-left: 1.5px solid rgb(207, 207, 207);
            }
            .moving-text{
                display: flex;
                justify-content: flex-start;
                background-color: rgb(6, 6, 6);
                overflow: hidden;
              }
        
              .moving-text p{
                color: rgb(173, 173, 173);
                white-space: nowrap;
                padding:0.6rem;
                letter-spacing: 1px;
                animation: move-rtl 2000ms linear infinite;
                font-size: 2.2em;
              }
          @keyframes move-rtl{
            0%{
                transform: translateX(0);
            }
            100%{
                transform: translateX(-100%);
            }
          }
          .gallery{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, auto);
            gap: 10px;
            padding: 20px;
            max-width: 800px;
            margin: 0;
            grid-column: 1;
        }
        .project{
            margin: 10px 0;
            text-align: center;
            break-inside: avoid-column;
            width: calc(33.33% -40px);
        }
        .project img{
            max-width: 100%;
            height: auto;
            transition: transform 0.3s ease-in-out;
            filter: grayscale(90%);
        }
        figcaption{
            font-size: 0.98em;
            margin-top: 10px;
            border: 1px solid white;
            border-radius: 30px;
            padding: 1.3em;
        }
        figcaption:hover{
            background-color: white;
            color: black;
        }
        .project img:hover{
            transform: scale(1.08);
            filter: grayscale(10%);
        }
        .gallery-container{
            display: grid;
            grid-template-columns: 3fr 1fr;
        }
        .circles{
            grid-column: 2;
            column-count: 2;
            margin: 2em;
        }
        .circle{
            width: 3em;
            height: 15em;
            border-radius: 30px;
            border: 1.3px solid rgb(255, 255, 255);
            transform: rotate(180deg);
            break-inside: avoid-column;
        }
        .one{
            height: 30em;
            background-color: white;
        }
        .contact-container{
            column-count: 2;
            column-gap: 2em;
           }
           form{
            margin-left: 2em;
           }
           #contact h1{
            margin-left: 0.8em;
            font-size: 2.5em;
           }
           footer{
            text-align: center;
            padding: 1em;
           }
        .icons{
            break-inside: avoid-column;
            margin-left: 2em;
            margin-right: 2em;
        }
        .icons p{
           color: white;
           display: block;
           padding: 0;
           padding-bottom: 2em;
        }
       
        .icons  img{
            width: 3em;
            margin-right: 2em;
            margin-bottom: 0.5em;
        }
        input{
            display: block;
            border: none;
            border-bottom: 2px solid rgb(255, 255, 255);
            padding-bottom: 1.5em;
            break-inside: avoid-column;
            background-color: transparent;
        }
        ::placeholder{
           color: rgb(255, 255, 255);
           font-family: 'Rubik', sans-serif;
         }
        textarea{
            display: block;
            border: none;
            border-bottom: 2px solid rgb(255, 255, 255);
            padding-bottom: 1.5em;
            background-color: transparent;
            color: white;
        }
        input[type="submit"]{
            margin: 2em 0;
            background-color: transparent;
            width: 25%;
            text-align: left;
            color: white;
            cursor: pointer;
        }
         input[type="submit"]::after{
           content: "";
           width: 20px;
           height: 20px;
           position: absolute;
           top: 50%;
           left: 10px;
           background-image: url(./down-arrow.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: right;
            transform: rotate(45deg);
         }
         /*media queries*/
         @media (min-width: 900px){
            main{
                width: 100%;
            }
         }
         @media (max-width:1180px){
            html{
                font-size: 92.5%;
            }
           .angel img{
            width: 25em;
           }
         }
         @media (max-width:1070px){
            html{
                font-size: 90%;
            }
         }
         @media (max-width:1060px){
             .angel img{
                width: 22em;
             }
         }
         @media (max-width:1000px){
           .angel img{
            width: 20em;
           }
           html{
            font-size: 88%;
           }
         }
         @media (max-width:950px){
            .angel img{
                width: 20em;
               }
               html{
                font-size: 85%;
               }
         }
         @media (max-width:900px){
           .me{
              display: none;
           }
         }
         @media(max-width: 830px){
           html{
            font-size: 75%;
           }
         }
         @media(max-width: 760px){
            html{
                font-size: 70%;
               }
         }
         @media(max-width: 740px){
            #welcome-section{
                grid-template-columns: 1fr;
                grid-template-rows: auto auto;
                gap: 0px;
            }
            .angel img{
                width: 23em;
            }
            .welcome{
                grid-column: 1;
            }
            .name{
                margin-top: 0.2em;
                padding: 0;
            }
            .gallery{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: auto auto;
            }
            figcaption{
                font-size: 1.1em;
            }
           
         }
         @media(max-width: 550px){
            #skills{
                width: 100%;
                display: grid;
                grid-template-columns: 1fr;
                height: fit-content;
            }
                     
           .skills{
            grid-column: 1;
           }
           .what-i-do{
            border-right: none;
            font-size: larger;
           }
           .skills div{
            border-left: 1.34px solid;
           }
           .moving-text p{
            font-size: 1.5em;
           }

           
         }
         @media (max-width: 560px){
            .contact-container{
                column-count: 1;
               }
               .icons {
                display: flex;
                justify-content: space-around;
                margin-top: 1.5em;
             }
             .icons p{
                display: none;
             }
            
         }
         @media(max-width: 480px){
            .gallery{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto auto;
            }
            .circle{
                height: 90%;
            }
            .two{
                height: 60%;
            }
         }
         @media(max-width: 465px){
           .skills{
            grid-template-columns: 1fr;
           }
           .what-i-do{
            border-right: none;
            font-size: 1.4em;
            margin-top: 0;
           }
         }
         @media (max-width: 280px){
           html{
            width: 100%;
           }
           main{
            padding: 0;
            margin: 0;
           }
           section{
            padding: 2em;
           }
           nav ul li{
            font-size: 1.3em;
           }
           nav, hr, .marquee{
            width: 32em;
           }
           .marquee{
            width: 30.5em;
           }
           .angel img{
            width: 18em;
           }
           .name, .typewriter{
            margin-right: 0;
            letter-spacing: 0;
           }
           .project{
            width: 15em;
           }
          .second-hr{
            width: 34em;
          }
           #star{
            width: 6em;
           }
           .typewriter h1{
           font-size: 0.2em;
           }
           ul{
            justify-content: space-between;
           }
         }
         @media (min-width:1700px){
             .angel img{
                width: 35em;
             }
             html{
                font-size: 25px;
             }
             .gallery{
                display: grid;
                grid-template-columns: repeat(4, 3fr);
                grid-template-rows: auto;
                width: max-content;
            }
            .project{
                width: 18em;
            }
            .circle{
                width: 6em;
                border-radius: 80px;
            }
            #contact > h1{
                font-size: 3.1em;
                margin-left: 0.3em;
            }
            input, textarea{
               font-size: 1.7em;
            }
            .icons > p{
                font-size: 1.3em;
            }
         }